{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<div class="h3 text-center">{% trans "Create an account" %}</div>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% crispy form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-lg btn-primary btn-block">{% trans "Create an account" %}</button>
</form>
<p>{% blocktrans %}Already have an account? <a href="{{ login_url }}">Log in</a>{% endblocktrans %}</p>

{% endblock %}
