{% extends 'base.html' %}

{% load static %}

{% block header_stuff %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.2.0/css/highcharts.css"></link>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"></link>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"></link>
{% endblock header_stuff %}

{% block content %}
      {% if request.user.profile.get_user_institutions %}
          {% block page_content %}
          {% endblock page_content %}
      {% else %}
      <div class="row text-center">
        <div class="col-lg-6 offset-lg-3">
          <div class="alert alert-warning">
            <p>You have not subscribed to Automonus.</p>
          </div>
        </div>
      </div>
        <div class="row text-center">
          <div class="col-lg-10 mx-auto">
              <a class="btn btn-lg btn-primary mb-3" href="{% url 'mocksubscription_create' %}">Calculate the Cost of Your Subscription</a>
              <br>
              <a class="btn btn-lg btn-success" href="{% url 'link_institution' %}">
                  Connect Your First Financial Institution
              </a>
          </div>
        </div>
      {% endif %}

{% endblock %}

{% block js_stuff %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        // DataTables implementation
        if($("#table").length>0){
          $("#table").DataTable({
              pageLength: 10,
          });
        }
    </script>

    <script>
        // HighCharts implementation
        {% for chart_data in charts_data %}
            chart_container_id = "chart_container_{{ forloop.counter }}";
            chart_container = "<div id='"+chart_container_id+"'></div>";
            $("#charts_container").append(chart_container);
            data = {{ chart_data|safe }};
            console.log(data);
            Highcharts.chart(chart_container_id, {
              chart: {
                  type: data["type"]
              },
              title: {
                  text: data.title
              },
              credits: {
                enabled: false
              },
              xAxis: {
                  categories: data.categories,
                  title: {
                    text: 'Dates'
                  }
              },
              yAxis: {
                  min: 0,
                  title: {
                      text: '$ (USD)'
                  }
              },
              legend: {
                  reversed: true
              },

              plotOptions: {

                  series: {
                      <!-- stacking: 'normal', -->
                  },

                   pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                       dataLabels: {
                            distance: -30,
                            color: 'white',
                           format: '{point.percentage:.1f} %',
                        },
                        showInLegend: true
                    }
              },
              series: data.chart_series,
          });
        {% endfor %}
    </script>
{% endblock js_stuff %}
