{% load staticfiles %}

<!doctype html>

<html lang="en">

<head>

  <meta charset="utf-8">

  <title>The Automonus Project</title>
  <meta name="description" content="The Automonus Project">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/snake&brain.png' %}"/>
  <script
      src="https://kit.fontawesome.com/23dbe734f4.js"
      crossorigin="anonymous"
    ></script>
  <!-- Load static files -->
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.2.0/css/highcharts.css"></link>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"></link>

  {% block header_stuff %}
  {% endblock header_stuff %}

</head>

<body>
  <div class="container">
    <div class="text-center mt-5">
      <h1> Student Loan Total Cost Calculator </h1>
      <h5>by Brennan Richards</h5>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-lg-6 offset-lg-3 card p-5 shadow mb-5">
        <h5 class="card-title">Fill out the form below to update student loan payment information.</h5>

        <form class="" action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="text-center">
            <input class="btn btn-primary center" type="submit" value="Submit" />
          </div>
        </form>

      </div>
    </div>
  </div>
</body>

</html>
