django==2.2.4
django-mathfilters==0.4.0
psycopg2==2.8.3
dj-database-url==0.5.0
requests==2.22.0
plaid-python==3.4.0
django-allauth==0.40.0
django-axes==5.0.13
django-recaptcha==2.0.4
rollbar==0.14.7
django-environ==0.4.5
django-crispy-forms==1.7.2
django-apscheduler==0.3.0
