{% extends "charts/base.html" %}


{% block page_content %}
{% if request.user.profile.has_income %}

<div class="row">
  <h3>Income & Savings-</h3>
  <ul>
    <li>View your last years income and projected income for the upcoming year.</li>
    <li>Income streams.</li>
    <li>Evaluate total savings growth or decline over time.</li>
    <li>Keep track of your savings and income transactions.</li>
  </ul>
</div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="h1">Income Overview</div>
            <br>
            <br>
        </div>
    </div>
    {{ test }}
    <div class="text-center">
      <h2>Projected Income</h2>
      <br>
    </div>

    <div class="row">
      <div class="col-lg-8">
          <div id="chart_container_2" class="mt-3"></div>
      </div>
      <div class="col-lg-4 text-left">
        <br>
        <br>
        <br>
          <div class="card card-primary">
              <div class="card-header">
                  <div class="h5">Your projected income after taxes for the upcoming year per:</div>
              </div>
              <div class="card-body">
                  <ul>
                      {% with request.user.profile.get_income as user_income %}
                          <li>Day: {{ user_income.per_day }} USD</li>
                          <li>Week: {{ user_income.per_week }} USD</li>
                          <li>Month: {{ user_income.per_month }} USD</li>
                          <li>Year: {{ user_income.total }} USD</li>
                      {% endwith %}
                  </ul>
              </div>
          </div>
      </div>
    </div>

    <br>
    <br>
    <hr>
    <br>
    <br>

    <div class="text-center">
      <h2>Past Year's Income</h2>
      <br>
    </div>

    <div class="row">
      <div class="col-lg-8">
          <div id="chart_container_1" class="mt-3"></div>
      </div>
      <div class="col-lg-4 text-left">
        <br>
        <br>
        <br>
          <div class="card card-primary">
              <div class="card-header">
                  <div class="h5">Last year's income per:</div>
              </div>
              <div class="card-body">
                  <ul>
                      {% with request.user.profile.get_income as user_income %}
                          <li>Day: {{ user_income.last_year_per_day }} USD</li>
                          <li>Week: {{ user_income.last_year_per_week }} USD</li>
                          <li>Month: {{ user_income.last_year_per_month }} USD</li>
                          <li>Year: {{ user_income.last_year }} USD</li>
                      {% endwith %}
                  </ul>
              </div>
          </div>
      </div>
    </div>

    <br>
    <br>
    <hr>
    <br>
    <br>

    <div class="row text-center">
      <div class="col-sm-6 offset-sm-3">
        <h2>Your Income Streams</h2>
        <table id="income_streams" align="center" border="1">
          <tr>
            <th>Name</th>
            <th>Monthly Income</th>
          </tr>
          {% for stream in income_streams %}
            <tr>
              <td>{{ stream.name }}</td>
              <td>{{ stream.monthly_income }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <br>
    <br>
    <br>
    <hr>

    {% if request.user.profile.has_savings_data %}
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="h1">Savings Overview</div>
                <p>To see an overview of your savings.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <div>
                    Your cash: <b>{{ total_balance }} USD</b>
                </div>
                <div id="chart_container_3" class="mt-3"></div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-12 text-center">
                <small>Transactions of negative (-) value are incoming.</small>
                <div class="table-responsive">
                    <table id="table" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Transaction</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in transactions %}
                                <tr>
                                    <!-- <td>
                                      {{ transaction.id }}
                                    </td> -->
                                    <td>
                                        {{ transaction.date|date:"m/d/Y" }}
                                    </td>
                                    <td>
                                        {{ transaction.name }}
                                    </td>
                                    <td>
                                        ${{ transaction.amount }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

{% else %}
  <div class="row">
    <div class="col-lg-12 text-center">
      <p>You have not yet added an institution which is is compatible with our <strong>income</strong> product.</p>
      <a class="btn btn-primary" href="{% url 'link_institution' %}">
          Connect A Financial Institution
      </a>
    </div>
  </div>
{% endif %}
{% endblock page_content %}
