{% extends 'base.html' %}

{% block content %}

<h2>Analysis Breakdown</h2>
<p>Our financial analysis system breaks down into four products: investments, liabilties, spending and income/savings.</p>
<p>To use the Auto-Analysis system, <a href="{% url 'link_institution' %}">connect an institution</a>.</p>
<p>Not all banking institutions provide the data necessary for using each product. The cost of subscribing to our
   Analysis product is dependent on the data your particular institution does or does not provide.</p>

<h3>Investments-</h3>
<ul>
  <li>Show progress of total holdings over time.</li>
  <li>Show profit to date of any of a user’s holdings.</li>
  <li>Show investment transactions if available.</li>
</ul>

<h3>Liabilities-</h3>
<ul>
  <li>Show credit card debt totals over time.</li>
  <li>Show student loan totals over time.</li>
</ul>

<h3>Income & Savings-</h3>
<ul>
  <li>View your last years income and projected income for the upcoming year.</li>
  <li>Income streams.</li>
  <li>Evaluate total savings growth or decline over time.</li>
  <li>Keep track of your savings and income transactions.</li>
</ul>

<h3>Spending-</h3>
<ul>
  <li>Evaluate the velocity of your spending each day over the past quarter.</li>
  <li>Evaluate total spending by category.</li>
  <li>Keep track of your spending transactions and transaction info.</li>
</ul>

{% endblock %}
