{% extends "analysis/base.html" %}


{% block page_content %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Income Overview</h1>
            <p>To see an overview of your spending habits.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div id="charts_container"></div>
        </div>
        <div class="col-lg-4 text-left">
            <div class="card card-primary">
                <div class="card-header">
                    <div class="h5">Average income per:</div>
                </div>
                <div class="card-body">
                    <ul>
                        {% with request.user.profile.get_income as user_income %}
                            <li>day: {{ user_income.per_day }} USD</li>
                            <li>week: {{ user_income.per_week }} USD</li>
                            <li>month: {{ user_income.per_month }} USD</li>
                            <li>year: {{ user_income.total }} USD</li>
                        {% endwith %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
