{% extends "analysis/base.html" %}


{% block page_content %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="h1">Savings Overview</div>
            <p>To see an overview of your savings.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div>
                Total: <b>{{ total_balance }} USD</b>
            </div>
            <div id="charts_container" class="mt-3"></div>
        </div>
    </div>
{% endblock %}