{% extends 'analysis/base_overview.html' %}


{% block header_stuff %}
{% endblock header_stuff %}


{% block content %}

  <div class="row text-center">

    <div class="col-sm-8 offset-sm-2">
      <h1>Spending Overview</h1>
      <p>To see an overview of your spending habits.</p>
        <div id="chart_container"></div>
    </div>
  </div>

{% endblock %}


{% block js_stuff %}
    {{ block.super }}
    <script>
        data = {{ chart_data|safe }};
        console.log(data);

        Highcharts.chart('chart_container', {
          chart: {
              type: data["type"]
          },
          title: {
              text: data.title
          },
          xAxis: {
              categories: data.categories
          },
          yAxis: {
              min: 0,
              title: {
                  text: '$ (USD)'
              }
          },
          legend: {
              reversed: true
          },
          plotOptions: {
              series: {
                  stacking: 'normal'
              }
          },
          series: data.chart_series
      });
    </script>
{% endblock js_stuff %}
