{% extends 'base.html' %}

{% block content %}

{% load mathfilters %}
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'hornescalculator_base' %}">Budget Overview</a></li>
        <li class="breadcrumb-item"><a href="{% url 'car_list' %}">Manage Cars</a></li>
        <li class="breadcrumb-item active" aria-current="page">Car Details</li>
      </ol>
    </nav>
  </div>
</div>
<br>
<br>
  <div class="row text-center">
    <div class="col">
      <h2>{{ object.name }} Expense Details</h2>
    </div>
  </div>
  <br>
  <br>
  <table class="table">

    <tr>
      <td></td>
      <th>Daily</th>
      <th>Weekly</th>
      <th>Biweekly</th>
      <th>Monthly</th>
      <th>Yearly</th>
    </tr>

    <tr>
      <td>Gas</td>
      <td>$ {{ object.gas_total_costs.daily_total }} </td>
      <td>$ {{ object.gas_total_costs.weekly_total }} </td>
      <td>$ {{ object.gas_total_costs.biweekly_total }} </td>
      <td>$ {{ object.gas_total_costs.monthly_total }} </td>
      <td>$ {{ object.gas_total_costs.yearly_total }} </td>
    </tr>

    <tr>
      <td>Maintenance</td>
      <td>$ {{ object.maintenance_total_costs.daily_total }} </td>
      <td>$ {{ object.maintenance_total_costs.weekly_total }} </td>
      <td>$ {{ object.maintenance_total_costs.biweekly_total }} </td>
      <td>$ {{ object.maintenance_total_costs.monthly_total }} </td>
      <td>$ {{ object.maintenance_total_costs.yearly_total }} </td>
    </tr>

    <tr>
      <td>Insurance</td>
      <td>$ {{ object.carinsurance_total_costs.daily_total }} </td>
      <td>$ {{ object.carinsurance_total_costs.weekly_total }} </td>
      <td>$ {{ object.carinsurance_total_costs.biweekly_total }} </td>
      <td>$ {{ object.carinsurance_total_costs.monthly_total }} </td>
      <td>$ {{ object.carinsurance_total_costs.yearly_total }} </td>
    </tr>

    <tr>
      <td>Car Property Tax</td>
      <td>$ {{ object.carproptax_total_costs.daily_total }} </td>
      <td>$ {{ object.carproptax_total_costs.weekly_total }} </td>
      <td>$ {{ object.carproptax_total_costs.biweekly_total }} </td>
      <td>$ {{ object.carproptax_total_costs.monthly_total }} </td>
      <td>$ {{ object.carproptax_total_costs.yearly_total }} </td>
    </tr>

  </table>

{% endblock %}
