{% extends 'base.html' %}

{% block content %}

{% load mathfilters %}

  <table class="table">

    <tr>
      <th></th>
      <th>Daily</th>
      <th>Weekly</th>
      <th>Biweekly</th>
      <th>Monthly</th>
      <th>Yearly</th>
    </tr>

    <tr>
      {% with groceries=user.food.groceries_yt %}
      <td><p>Groceries</p></td>
      <td> {{ groceries|div:365 }} </td>
      <td> {{ groceries|div:52 }} </td>
      <td> {{ groceries|div:26 }} </td>
      <td> {{ groceries|div:12 }} </td>
      <td> {{ groceries }} </td>
      {% endwith %}
    </tr>

    <tr>
      {% with restaurant=user.food.restaurant_yt %}
      <td>Restaurant Food Costs</td>
      <td> {{ restaurant|div:365 }} </td>
      <td> {{ restaurant|div:52 }} </td>
      <td> {{ restaurant|div:26 }} </td>
      <td> {{ restaurant|div:12 }} </td>
      <td> {{ restaurant }} </td>
      {% endwith %}
    </tr>

  </table>

{% endblock %}
