{% extends 'base.html' %}

{% block content %}

{% load mathfilters %}
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'hornescalculator_base' %}">Budget Overview</a></li>
        <li class="breadcrumb-item"><a href="{% url 'hornescalculator_base' %}">Manage Housing</a></li>
        <li class="breadcrumb-item active aria-current="page"">{{ object.name }} Details</li>
      </ol>
    </nav>
  </div>
</div>
<br>
<br>
<div class="row text-center">
  <div class="col">
    <h2>{{ object.name }} Expense Details</h2>
  </div>
</div>
<br>
<br>
  <table class="table">

    <tr>
      <th></th>
      <th>Daily</th>
      <th>Weekly</th>
      <th>Biweekly</th>
      <th>Monthly</th>
      <th>Yearly</th>
    </tr>

    <tr>
      <td>Mortgage</td>
      <td>$ {{ object.mortgage_total_costs.daily_total }} </td>
      <td>$ {{ object.mortgage_total_costs.weekly_total }} </td>
      <td>$ {{ object.mortgage_total_costs.biweekly_total }} </td>
      <td>$ {{ object.mortgage_total_costs.monthly_total }} </td>
      <td>$ {{ object.mortgage_total_costs.yearly_total }} </td>
    </tr>

    <tr>
      <td>Home Property Tax</td>
      <td>$ {{ object.homeproptax_total_costs.daily_total }} </td>
      <td>$ {{ object.homeproptax_total_costs.weekly_total }} </td>
      <td>$ {{ object.homeproptax_total_costs.biweekly_total }} </td>
      <td>$ {{ object.homeproptax_total_costs.monthly_total }} </td>
      <td>$ {{ object.homeproptax_total_costs.yearly_total }} </td>
    </tr>

    <tr>
      <td>Fire Tax</td>
      <td>$ {{ object.firetax_total_costs.daily_total }} </td>
      <td>$ {{ object.firetax_total_costs.weekly_total }} </td>
      <td>$ {{ object.firetax_total_costs.biweekly_total }} </td>
      <td>$ {{ object.firetax_total_costs.monthly_total }} </td>
      <td>$ {{ object.firetax_total_costs.yearly_total }} </td>
    </tr>

    <tr>
      <td>Homeowner's Insurance</td>
      <td>$ {{ object.homeinsurance_total_costs.daily_total }} </td>
      <td>$ {{ object.homeinsurance_total_costs.weekly_total }} </td>
      <td>$ {{ object.homeinsurance_total_costs.biweekly_total }} </td>
      <td>$ {{ object.homeinsurance_total_costs.monthly_total }} </td>
      <td>$ {{ object.homeinsurance_total_costs.yearly_total }} </td>
    </tr>

  </table>

{% endblock %}
