{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'hornescalculator_base' %}">Budget Overview</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add New Housing</li>
      </ol>
    </nav>
  </div>
</div>
<br>
<br>
<h3 align='center'>Housing Expenses</h3>
<br>
<br>
<div class="col-sm-8 offset-md-2">

<form action="#" method="POST" role="form">
    {% csrf_token %}
    <p>You pay your rent/mortgage {{ form.mortgage_pay_per }} and it costs you ${{ form.mortgage }}.</p>
    <p>You pay your property tax {{ form.homeproptax_pay_per }} and it costs you ${{ form.home_property_tax }}. </p>
    <p>You pay your fire tax {{ form.firetax_pay_per }} and it costs you ${{ form.fire_tax }}.</p>
    <p>You pay your homeowner's insurance {{ form.homeinsurance_pay_per }} and it costs you ${{ form.homeowners_insurance }}.</p>

    <div class="text-center">
      <input class="btn btn-primary" type="submit" value="Submit" />
    </div>

</form>

</div>

{% endblock %}
