{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'hornescalculator_base' %}">Budget Overview</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create Miscellaneous Expenses</li>
      </ol>
    </nav>
  </div>
</div>
<br>
<br>
<div class="col-lg-6 offset-lg-3 card shadow p-4">
<h3 align='center'>Miscellaneous Expenses</h3>
<br>
<br>
<form action="#" method="POST" role="form">
    {% csrf_token %}
    <p>You spend ${{ form.health_insurance }} for your health insurance plan per {{ form.healthinsurance_pay_per }}.</p>
    <p>You spend ${{ form.life_insurance }} on your life insurance policy, {{ form.lifeinsurance_pay_per }}.</p>
    <p>You spend approximately ${{ form.clothing }} each {{ form.clothing_pay_per }} on clothing.</p>

    <div class="text-center">
      <input class="btn btn-primary" type="submit" value="Submit" />
    </div>

</form>

</div>

{% endblock %}
