{% extends 'base.html' %}

{% block content %}

{% load mathfilters %}

  <table class="table">

    <tr>
      <th></th>
      <th>Daily</th>
      <th>Weekly</th>
      <th>Biweekly</th>
      <th>Monthly</th>
      <th>Yearly</th>
    </tr>

    <tr>
      {% with electricity=user.utilities.electricity_yt %}
      <td><p>Electricity</p></td>
      <td> {{ electricity|div:365 }} </td>
      <td> {{ electricity|div:52 }} </td>
      <td> {{ electricity|div:26 }} </td>
      <td> {{ electricity|div:12 }} </td>
      <td> {{ electricity }} </td>
      {% endwith %}
    </tr>

    <tr>
      {% with heating=user.utilities.heating_yt %}
      <td>Heating/Cooling</td>
      <td> {{ heating|div:365 }} </td>
      <td> {{ heating|div:52 }} </td>
      <td> {{ heating|div:26 }} </td>
      <td> {{ heating|div:12 }} </td>
      <td> {{ heating }} </td>
      {% endwith %}
    </tr>

    <tr>
      {% with phone=user.utilities.phone_yt %}
      <td>Phone</td>
      <td> {{ phone|div:365 }} </td>
      <td> {{ phone|div:52 }} </td>
      <td> {{ phone|div:26 }} </td>
      <td> {{ phone|div:12 }} </td>
      <td> {{ phone }} </td>
      {% endwith %}
    </tr>

    <tr>
      {% with cable=user.utilities.cable_yt %}
      <td>Cable</td>
      <td> {{ cable|div:365 }} </td>
      <td> {{ cable|div:52 }} </td>
      <td> {{ cable|div:26 }} </td>
      <td> {{ cable|div:12 }} </td>
      <td> {{ cable }} </td>
      {% endwith %}
    </tr>

    <tr>
      {% with internet=user.utilities.internet_yt %}
      <td>Internet</td>
      <td> {{ internet|div:365 }} </td>
      <td> {{ internet|div:52 }} </td>
      <td> {{ internet|div:26 }} </td>
      <td> {{ internet|div:12 }} </td>
      <td> {{ internet }} </td>
      {% endwith %}
    </tr>

  </table>

{% endblock %}
