{% extends 'base.html' %}

{% block content %}
<div id="content">
    <form id="base_deposit">
        <span class="status">
        </span>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input id="amount" type="number" name="amount" step="0.1" class="form-control" min="0.5"
                placeholder="Amount of deposit" required>
        </div>
        <div class="form-group">
            <label for="account_id">From Account</label>
            <select class="form-control" id="account_id" name="account_uuid">
                {% for item in user_institution %}
                    {% for account in item.accounts_user_institution.all %}
                        {% if account.mask == '1111' or account.mask == '0000' %}
                        <option value='{{ account.uuid }}'>
                            {{ account.user_institution.institution.name }} {{ account.name }}, balance:
                            {{ account.current_balance }} $
                        </option>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="currency">Currency</label>
            <input type="text" name="currency" required class="form-control" id="currency" placeholder="currency"
                value="usd" disabled>
        </div>
        <button class="btn btn-primary">Pay</button>
    </form>
</div>
{% endblock %}
{% block js_stuff %}
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script>
    (function($) {
        csrf_token="{{ csrf_token }}";
        $('#base_deposit').submit(function(e) {
            e.preventDefault();
            data={
                csrfmiddlewaretoken: csrf_token,
                account_uuid: $('#account_id').val(),
                amount: parseFloat($('#amount').val()).toFixed(2),
                currency: 'usd'
            };
            $.ajax({
                method: "post",
                url: '/payments/check-auth/',
                data: data,
                dataType: 'json',
                success: function(return_data) {
                    $('#content').empty();
                    $('#content').append('<a href="'+return_data.status.receipt_url+'">'+return_data.status.receipt_url+'</a>')
                }
            });
        })

    })(jQuery);
</script>
{% endblock %}
