{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
  <div class="row text-center">
    <div class="col-sm-4 offset-sm-4">
    </div>
  </div>

<div class="col-sm-6 offset-sm-3 card shadow p-5 text-center">
  <p class="text-muted">Aurum</p>
  <div class="mx-auto">
    <img src="{% static 'img/aurum.jpeg' %}" class="text-center" width=150>
  </div>

  <div class="progress mb-4">
    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
<h5 class="p-4">
    Send money to another user.
</h5>
  <form method="post" novalidate>
      {% csrf_token %}
      {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
          <div class="alert alert-warning" role="alert">
            {{ error }}
          </div>
          {% endfor %}
      {% endif %}

      {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
            {% for error in hidden_field.errors %}
              <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
            {% endfor %}
        {% endif %}
        {{ hidden_field }}
      {% endfor %}
      <div class="row">
          <div class="col">
              {% for field in form.visible_fields %}
                  {% if field.errors %}
                      {% for error in field.errors %}
                      <div class="alert alert-warning" role="alert">
                          {{ error }}
                      </div>
                      {% endfor %}
                  {% endif %}
                  <label for="staticEmail" class="form-label">
                      {{ field.label_tag }}
                  </label>
                  <div class="form-field">
                      {{ field }}
                  </div>
              {% if field.help_text %}
              {% endif %}
          {% endfor %}
          </div>
      </div>
      <div class="col mt-4">
          <button type="submit" class="btn btn-primary btn-block">
              Next
          </button>
      </div>
    </form>
</div>


</div>
{% endblock %}
{% block js_stuff %}
{% endblock %}
