{% extends 'base.html' %}
  {% load static %}
{% block content %}

<title>Sign Up</title>

<div class="col-md-4 offset-md-4">

    {% if error %}

        <div class="alert alert-danger alert-dismissible">
          {{ error }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

    {% endif %}

<!-- SIGNUP -->

  <body class="text-center">
    <form class="form-signin" method="POST" action="{% url 'signup' %}">
      {% csrf_token %}
      <img class="mb-4" src="{% static 'snake&brain.png' %}" alt="" width="250" height="250">
      <h1 class="h3 mb-3 font-weight-normal">Create an account</h1>

      <div class="form-group">
        <input name="email" type="email" id="inputEmail" class="form-control form-field" placeholder="Email address" required autofocus>
      </div>

      <div class="form-group">
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      </div>

      <div class="form-group">
        <input name="confirm" type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required>
      </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Create an account</button>

      <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>

    </form>
  </body>

</div>

{% endblock %}
