{% load staticfiles %}

<!doctype html>

<html lang="en">

<head>

  <meta charset="utf-8">

  <title>The Automonus Project</title>
  <meta name="description" content="The Automonus Project">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/snake&brain.png' %}"/>
  <script
      src="https://kit.fontawesome.com/23dbe734f4.js"
      crossorigin="anonymous"
    ></script>
  <!-- Load static files -->
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

  {% block header_stuff %}
  {% endblock header_stuff %}

</head>

<header>
  <!-- Navbar -->
  {% include "navbar.html" %}
  <br>
  <br>

</header>


<body>

  {% block dashboard_content %}
  {% endblock dashboard_content %}

  <div class="container">
        <!-- Website Content -->
        {% block content %}
        {% endblock content %}
  </div>

</body>

<br>

<footer class="text-center p-5">

  <hr>

  <small class="text-muted"><em>©️ Automonus 2019-2020</em></small>

  <br>

</footer>

    <!-- Import Javascript and Jquery files. -->
    <script src="//code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--Toastr for showing updates messages-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="{% static 'js/toastr_settings.js' %}"></script>

    {% if messages %}
        <script type="text/javascript">
            {% for message in messages %}
                toastr.{{ message.tags }}("{{ message|safe }}");
            {% endfor %}
        </script>
    {% endif %}

    {% block js_stuff %}
    {% endblock js_stuff %}

</html>
