<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>The Automonus Project</title>
  <meta name="description" content="The Automonus Project">

  <!-- Load static files -->
  {% load static from staticfiles %}

  <link rel="shortcut icon" type="image/png" href="{% static 'snake&brain.png' %}"/>

  <!-- Import Javascript and Jquery files. -->

  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS & Bootstrap CDN -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<header>

<!-- Navbar -->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

  {% if user.is_authenticated %}

    <a class="navbar-brand" href="#">

      <a class="btn btn-sm btn-outline-secondary mr-sm-5" href="{% url 'about' %}">
        <img src="{% static 'automonus-beta-light.png' %}" height="250">
      </a>

    </a>

    <!-- Bootstrap navbar toggler -->
    <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-item nav-link mr-sm-2 btn btn-sm btn-outline-secondary" href="{% url 'overview' %}">
          <img src="{% static 'academy-automonus.png' %}" height=30 class="mr-sm-2">
          Academy
        </a>
      </li>

      <li class="nav-item dropdown">

        <button class="nav-link dropdown-toggle mr-sm-2 btn btn-sm btn-outline-secondary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{% static 'analysis-automonus.png' %}" height=30 class="mr-sm-2">
          Analysis
        </button>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Income</a>
          <a class="dropdown-item" href="#">Savings</a>
          <a class="dropdown-item" href="#">Debts</a>
          <a class="dropdown-item" href="#">Investments</a>
          <a class="dropdown-item" href="#">Liabilities</a>

      <li class="nav-item">
        <a class="nav-item nav-link mr-sm-2 btn btn-sm btn-outline-secondary" href="#">
          <img src="{% static 'planning-automonus.png' %}" height=30 class="mr-sm-2">
          Planning
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-item nav-link mr-sm-2 btn btn-sm btn-outline-secondary" href="#">
          <img src="{% static 'payments-automonus.png' %}" height=30 class="mr-sm-2">
          Payments
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-item nav-link mr-sm-2 btn btn-sm btn-outline-secondary" href="#">Virtual Marketplace</a>
      </li>

      <li class="nav-item dropdown">
        <button class="nav-link dropdown-toggle btn btn-sm btn-outline-secondary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </button>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">Log Out</a>
          <a class="dropdown-item">Your account name: {{ request.user }}</a>

            <form id="logout" method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <input type="hidden">
            </form>

        </div>
      </li>
      {% endif %}

    </ul>
  </div>

</nav>

<br>
<br>

</header>

<body>

    <div class="container">

      <!-- Website Content -->

      {% block content %}
      {% endblock %}

    </div>


</body>

<br>
<br>

<footer align="center">

  <hr>

  <small class="text-muted"><em>©️ Automonus 10019</em></small>

  <br>
  <br>

</footer>

</html>
