{% extends 'base.html' %}

{% load static %}

{% block content %}

<title>Home</title>

<div class="col-sm-6 offset-sm-3">

  <div class="salary">

    <h1>Income</h1>
    <small>Add your pay period and check value. Don't forget to press submit before moving on.</small> <br> <br>
    <p>You get paid based on a
      <select>
        <option>Daily</option>
        <option>Weekly</option>
        <option>Biweekly</option>
        <option>Monthly</option>
      </select>
      pay period, and your paychecks are for <input type="text" value="$">.</p>
    <p>Your annual salary is: $ XX, XXX </p>
    <p>Your salary after state and federal income taxes is: $ XX, XXX</p>

  </div>

  <hr>

  <div class="expense_overview">

    {% if user.car %}
        <h1>You spend. . . </h1>
        <p> ${{ user.car.yearly_total }} each year on your transportation.</p>
    {% else %}

      <p><a href="{% url 'car' %}">Enter transportation expenses.</a></p>

    {% endif %}

    {% if user.housing %}

        <p>$ {{ Housing.yearly_total }} each
          <select>
            <option>Day</option>
            <option>Week</option>
            <option>Month</option>
            <option>Year</option>
          </select>
        on your house and homeowner’s insurance.</p>
    {% else %}
      <p><a href="{% url 'housing' %}">Enter housing expenses.</a></p>
    {% endif %}

    {% if user.utilities %}
      <p>${{ utilities.yearly_total }} each
        <select>
          <option>Day</option>
          <option>Week</option>
          <option>Month</option>
          <option>Year</option>
        </select>
      on utilities like water, electricity, heating and cable.</p>
    {% else %}
      <p><a href="{% url 'utilities' %}">Enter utility expenses.</a></p>
    {% endif %}

    {% if user.food %}
        <p>${{ food.yearly_total }} each
          <select>
            <option>Day</option>
            <option>Week</option>
            <option>Month</option>
            <option>Year</option>
          </select>
        on groceries and dining out.</p>

    {% else %}

      <p><a href="{% url 'food' %}">Enter food expenses.</a></p>

    {% endif %}

    {% if user.miscellaneous %}

        <p>${{ miscellaneous.yearly_total }} each
          <select>
            <option>Day</option>
            <option>Week</option>
            <option>Month</option>
            <option>Year</option>
          </select>
        on your life insurance and other miscellaneous expenses.</p>
    {% else %}
      <p><a href="{% url 'miscellaneous' %}">Enter miscellaneous expenses.</a></p>
    {% endif %}

      <br>
      <h5>You have $ X,XXX in funds remaining per
        <select>
          <option>Day</option>
          <option>Week</option>
          <option>Month</option>
          <option>Year</option>
        </select>
      after you pay your necessary living expenses.</h5>

  </div>

  <br>
  <hr>
  <button type="button" name="button" class="btn btn-warning btn-block">Add your bank accounts to track what you spend your money on.</button><br><br>

  <h4>This is the amount of money you have spent on other expenditures in the past
    <select>
      <option>Day</option>
      <option>Week</option>
      <option>Month</option>
      <option>Year</option>
    </select>:</h4>
  <br>
  <img src="{% static 'pie_value.png' %}" alt="Pie Chart" >



  <p>At this rate you are adding $(amount) to your bank total of $ XX,XXX each week (month, year)</p>
  <br>
  <hr>
  <h6>The stock market has grown at a(n) % X.XX rate annually over the past XXX years since it was created. If you invest 10% (20%, 30%, …)
  of the $ (amount) you are saving each week,  and the stock market continues to grow at % X.XX per year, in 20 (30, 40, …) years it will be
  worth $ XX,XXX. Join our short course on investing in the stock market and invest with <a href="#">this platform</a>.</h6>

</div>
{% endblock %}
