{% load static %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

  <a class="navbar-brand" href="#">

    <a href="{% url 'about' %}">
      <img src="{% static 'img/automonus-beta-light-compressed.png' %}" height="250">
    </a>

  </a>

  <!-- Bootstrap navbar toggler -->
  <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
    aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </a>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-item nav-link mr-sm-2 btn btn-secondary" href="{% url 'about' %}">
          Home
        </a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-item nav-link mr-sm-2 btn btn-secondary" href="{% url 'academy_home' %}">
          <img src="{% static 'img/academy-automonus.png' %}" height=30 class="mr-sm-2">
          Academy
        </a>
      </li> -->

      <li class="nav-item dropdown">
        <button class="nav-link dropdown-toggle mr-sm-2 btn btn-secondary" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{% static 'img/analysis-automonus.png' %}" height=30 class="mr-sm-2">
          Analysis
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if user.profile.get_user_institutions %}
              {% if user.profile.has_income %}
                <a class="dropdown-item" href="{% url 'income_overview' %}">Income & Savings</a>
              {% endif %}
              {% if user.profile.has_spending %}
                <a class="dropdown-item" href="{% url 'spending_overview' %}">Spending</a>
              {% endif %}
              <!-- <a class="dropdown-item" href="{% url 'savings_overview' %}">Savings</a> -->
              {% if user.profile.has_liabilities %}
                <a class="dropdown-item" href="{% url 'liabilities_overview' %}">Liabilities</a>
              {% endif %}
              {% if user.profile.has_investments %}
                <a class="dropdown-item" href="{% url 'investments_overview' %}">Investments</a>
              {% endif %}
          {% else %}
            <a class="dropdown-item" href="{% url 'about_analysis' %}">About Analysis</a>
            <a class="dropdown-item" href="{% url 'link_institution' %}">Connect an Institution!</a>
          {% endif %}
        </div>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-item nav-link mr-sm-2 btn btn-sm btn-outline-secondary" href="{% url 'babylon_plan' %}">
          <img src="{% static 'img/planning-automonus.png' %}" height=30 class="mr-sm-2">
          Planning
        </a>
      </li> -->

      <li class="nav-item">
        <a class="nav-item nav-link mr-sm-2 btn btn-secondary" href="{% url 'enable_payments' %}">
          <img src="{% static 'img/payments-automonus.png' %}" height=30 class="mr-sm-2">
          Payments
        </a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-item nav-link mr-sm-2 btn btn-sm btn-outline-secondary" href="#">Virtual Marketplace</a>
      </li> -->

      <li class="nav-item dropdown">
        <button class="nav-link dropdown-toggle btn btn-secondary" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </button>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'user_institutions' %}">Connected Institutions</a>
          <a class="dropdown-item" href="{% url 'external_transfer_create' %}">Transfer to User</a>
          <a class="dropdown-item" href="{% url 'internal_transfer_value' %}">Transfer to my Account</a>
          <!-- <a class="dropdown-item" href="{% url 'enable_payments' %}">Payments</a> -->
          <a class="dropdown-item" href="#">Account: ({{ request.user }}) </a>
          <a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
