{% load static %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

  <a class="navbar-brand" href="#">

    <a href="{% url 'home' %}">
      <img src="{% static 'img/automonus-beta-light-compressed.png' %}" height="250">
    </a>

  </a>

  <!-- Bootstrap navbar toggler -->
  <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
    aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </a>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-item nav-link mr-sm-2 btn btn-secondary" href="{% url 'home' %}">
          Home
        </a>
      </li>

      {% if user.profile.get_user_institutions %}
        <li class="nav-item">
          <a class="nav-item nav-link mr-sm-2 btn btn-secondary" href="{% url 'master_dashboard' %}">
            Dashboard
          </a>
        </li>
      {% else %}
        {% if not user.profile.filled_mock_subscription %}
          <li class="nav-item">
            <a class="nav-item nav-link mr-sm-2 btn btn-secondary" href="{% url 'mocksubscription_create' %}">
              Calculate Subscription Cost
            </a>
          </li>
        {% else %}
          <li>
            <a class="nav-item nav-link mr-sm-2 btn btn-secondary" href="{% url 'mocksubscription_display' %}">
              Calculate Subscription Cost
            </a>
          </li>
          <li>
            <a class="nav-item nav-link mr-sm-2 btn btn-secondary" href="{% url 'link_institution' %}">
              Connect an Institution
            </a>
          </li>
        {% endif %}
      {% endif %}


      <li class="nav-item dropdown">
        <button class="nav-link dropdown-toggle btn btn-secondary" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Your Profile
        </button>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Account: ({{ request.user }}) </a>
          <a class="dropdown-item" href="{% url 'user_institutions' %}">Connected Institutions</a>
          <a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
