{% load static %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow">

  <a class="navbar-brand" href="#">

    <a href="{% url 'home' %}">
      <img src="{% static 'img/automonus-beta-light-compressed.png' %}" height="250">
    </a>

  </a>

  <!-- Bootstrap navbar toggler -->
  <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
    aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </a>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-item nav-link mr-sm-2 btn btn-secondary" href="{% url 'home' %}" style="width: 10rem">
          <!-- <img src="{% static 'img/house.png' %}" width=40> -->
          <i class="fab fa-fort-awesome-alt"></i>
          Home
        </a>
      </li>
    {% if request.user.is_authenticated %}
      {% if user.profile.get_user_institutions %}
        <li class="nav-item">
          <a class="nav-item nav-link mr-sm-2 btn btn-secondary" href="{% url 'master_dashboard' %}">
            <!-- <img src="{% static 'img/dollar sign.png' %}" width=40> -->
            <i class="fas fa-tachometer-alt"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link mr-sm-2 btn btn-secondary" href="{% url 'external_transfer_create' %}">
            <!-- <img src="{% static 'img/aurum.jpeg' %}" width=40> -->
            <i class="fas fa-comments-dollar"></i>
            Payments
          </a>
        </li>
      {% else %}
          <li class="nav-item">
            <a class="nav-item nav-link mr-sm-2 btn btn-secondary" href="{% url 'master_dashboard' %}">
              <i class="fas fa-tachometer-alt"></i>
              Dashboard
            </a>
          </li>
          <li>
            <a class="nav-item nav-link mr-sm-2 btn btn-secondary" href="{% url 'link_institution' %}">
              Connect an Institution!
            </a>
          </li>
      {% endif %}

    </ul>
    <ul class="nav navbar-nav navbar-right mr-5">
        <li class="nav-item dropdown">
          <button class="nav-link dropdown-toggle btn btn-secondary mr-5" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-user"></i>
            Your Profile
          </button>

          <div class="dropdown-menu card mr-5 p-1  text-center" aria-labelledby="navbarDropdown">
            <p class="pt-3 text-muted"> ({{ request.user.email }})'s Account </p>
            <a class="dropdown-item" href="{% url 'update_subscription' %}">Update Subscription</a>
            <a class="dropdown-item" href="{% url 'user_institutions' %}">Manage Institutions</a>
            <a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a>
          </div>
        </li>
      {% else %}
        <li>
          <a class="nav-item nav-link mr-sm-2 btn btn-secondary float-right" href="{% url 'login_signup' %}">
            Log in / Create an account
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
