{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <h3>The Automonus Project</h3>
    <p>Our goal is to teach the world how to handle its money, and how to acquire more of it.</p>
    <p>The Automonus Project is an ongoing effort to create financial software products that
    help you to optimize and streamline your financial processes. Our two current products are
    Analysis and Payments; software for helping you analyze your financial position and to move
    your money respectively.</p>
  </div>
</div>

  <!-- <br>
  <br>

<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <h3>The Academy</h3>
    <p>The Academy is the seat for our financial courses and learning tools.</p>
  </div>
</div>

<div class="row text-center">
  <div class="col-sm-4 offset-sm-4">
    <a href="{% url 'academy_home' %}" class="btn btn-large btn-block btn-primary">Check out the academy</a>
  </div>
</div> -->

  <br>
  <br>

<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <h3>Analysis</h3>
    <p>Our Analysis system allows you to connect your bank accounts from almost any
    US financial institution by simply filling in your online username and password.
    From there, we break down your finances to show you how much
    money you earn, spend, save, and invest - as well as keeping track of your debts</p>
  </div>
</div>

<div class="row text-center">
  <div class="col-sm-6 offset-sm-3">
    <a href="#" class="btn btn-lg btn-block btn-primary ">Connect an Institution to Use Our Analysis Product</a>
  </div>
</div>

  <br>
  <br>


<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <h3>Payments</h3>
    <p>Our payments system allows you to send money to any other user on our platform.</p>
  </div>
</div>

<div class="row text-center">
  <div class="col-sm-4 offset-sm-4">
    <a href="{% url 'enable_payments' %}" class="btn btn-lg btn-block btn-primary">Make a Payment</a>
  </div>
</div>

  <br>
  <br>

{% endblock %}
