
<!-- 'Add Bank Account' Auth View from Plaid -->

    <button id="link-button" class="btn btn-success btn-lg">Link Account</button>
    <form> {% csrf_token %}
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script
    src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script type="text/javascript">
    (function($) {
        csrf_token = "{{ csrf_token }}";
        console.log(csrf_token);
      var handler = Plaid.create({
        clientName: 'Plaid Quickstart',
        // Optional, specify an array of ISO-3166-1 alpha-2 country
        // codes to initialize Link; European countries will have GDPR
        // consent panel
        countryCodes: ['US'],
        env: 'sandbox',
        // Replace with your public_key from the Dashboard
        key: '6c5492915411a3645fdd0368516aa9',
        product: ['transactions', 'income'],
        // Optional, use webhooks to get transaction and error updates
        webhook: '{{ webhook_url }}',
        // Optional, specify a language to localize Link
        language: 'en',
        // Optional, specify userLegalName and userEmailAddress to
        // enable all Auth features
        userLegalName: '{{ request.user.get_full_name }}',
        userEmailAddress: '{{ request.user.email }}',
        onLoad: function() {
          // Optional, called when Link loads
        },
        onSuccess: function(public_token, metadata) {
          // Send the public_token to your app server.
          // The metadata object contains info about the institution the
          // user selected and the account ID or IDs, if the
          // Select Account view is enabled.
          $.post('get_access_token/', {
            csrfmiddlewaretoken: csrf_token,
            public_token: public_token,
            metadata: metadata,
          });
        },
        onExit: function(err, metadata) {
          // The user exited the Link flow.
          if (err != null) {
            // The user encountered a Plaid API error prior to exiting.
          }
          // metadata contains information about the institution
          // that the user selected and the most recent API request IDs.
          // Storing this information can be helpful for support.
        },
        onEvent: function(eventName, metadata) {
          // Optionally capture Link flow events, streamed through
          // this callback as your users connect an Item to Plaid.
          // For example:
          // eventName = "TRANSITION_VIEW"
          // metadata  = {
          //   link_session_id: "123-abc",
          //   mfa_type:        "questions",
          //   timestamp:       "2017-09-14T14:42:19.350Z",
          //   view_name:       "MFA",
          // }
        }
      });

      $('#link-button').on('click', function(e) {
        handler.open();
      });
    })(jQuery);
    </script>
    </form>
