<div class="row">

<div class="col-md-4 offset-md-4">
  <div class="card mb-4 bg-dark text-white box-shadow">
    <h4 class="text-muted">Submit this <strong>first</strong>!</h4>
    <p class="text-muted">Set the default period for displaying your expense overview:</p>
    <div class="card-body">
      <form class="form text-center" action="#" align="left" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <div class="form-field">
              {{ form.display }}
          </div>
        </div>
        <div class="form-group">
          <input class="btn btn-primary form-field" type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </div>
</div>
</div>


<br>
