{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron">
      <h1 class="text-center">Accounting + Marketing For Small Business</h1>
      <br>
      <p>
        The Automonus Project and Midfield Technologies are building a platform that
        allows you to watch over your business' cash flow and marketing all in one place.
      </p>
      {% if user.profile.get_user_institutions %}
      <br>
      <div class="row text-center">
        <div class="col-sm-6 offset-sm-3">
          <a href="{% url 'accounting_master_dashboard' %}" class="btn btn-lg btn-block btn-warning">
            <i class="fas fa-brain"></i>
            Go to master dashboard.</a>
        </div>
      </div>
      {% else %}
      <div class="row text-center">
        <div class="col-sm-6 offset-sm-3">
          <a href="{% url 'link_institution' %}" class="btn btn-lg btn-block btn-primary">
            <i class="fas fa-university"></i>
            Link an institution.</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

  <br>
  <br>

<!-- <div class="row">
  <div class="col">
    <div class="card m-2 bg-light p-2" style="width:21rem">
        <h4 class="card-title text-center"><i class="fas fa-wallet"></i> Income</h4>
        <br>
        <div class="card-text">
          <ul>
            <li>Understand your monthly income by source.</li>
            <li>Track your pay checks and other incoming transactions.</li>
          </ul>
        </div>
        {% if user.profile.get_user_institutions %}
          <div class="col text-center">
            <a href="{% url 'income_dashboard' %}" class="btn btn-primary">Go to Income</a>
          </div>
        {% endif %}
    </div>
  </div>
  <div class="col">
    <div class="card m-2 p-2 bg-light" style="width:21rem">
        <h4 class="card-title text-center"><i class="fas fa-dollar-sign"></i> Expenditures</h4>
        <br>
        <div class="card-text">
          <ul>
            <li>Evaluate your spending habits, how much have you spent recently? What do you
                spend the most on?</li>
            <li>Track your spending transactions across all of your accounts.</li>
            <li>Create a guided spending plan for all your life expenses.</li>
            <li><span class="text-muted">COMING SOON</span>- Pay all bills from any US provider from one screen.</li>
          </ul>
          {% if user.profile.get_user_institutions %}
            <div class="col text-center">
              <a href="{% url 'expenditures_dashboard' %}" class="btn btn-primary">Go to Expenditures</a>
            </div>
          {% endif %}
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card m-2 p-2 bg-light" style="width:21rem">
        <h4 class="card-title text-center"><i class="fas fa-file-invoice-dollar"></i> Liabilities</h4>
        <br>
        <div class="card-text">
          <ul>
            <li>Track your total liabilities: credit card and student loan debt total.</li>
            <li>Optimize your loan payment to pay your loans off faster.</li>
            <li><span class="text-muted">COMING SOON</span>- Pay your student loan guarantors and credit card providers from one screen.</li>
          </ul>
        </div>
        {% if user.profile.get_user_institutions %}
          <div class="col text-center">
            <a href="{% url 'liabilities_dashboard' %}" class="btn btn-primary">Go to Liabilities</a>
          </div>
        {% endif %}
    </div>
  </div>
  <div class="col">
    <div class="card m-2 p-2 bg-light" style="width:21rem">
        <h4 class="card-title text-center"><i class="fas fa-hand-holding-usd"></i> Investments</h4>
        <br>
        <div class="card-text">
          <ul>
            <li>Track the growth or decline of your investments over time.</li>
            <li>View the profit generated by each individual investment from the time you purchased it.</li>
          </ul>
        </div>
        {% if user.profile.get_user_institutions %}
          <div class="col text-center">
            <a href="{% url 'investments_dashboard' %}" class="btn btn-primary">Go to Investments</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div> -->
<!-- <br>
<hr>
<br> -->

<!-- <div class="row">
  <div class="col-sm-8 offset-sm-2">
    <h3>Analysis</h3>
    <p>Our Analysis system allows you to connect your bank accounts from almost any
    US financial institution by simply filling in your online username and password.
    From there, we break down your finances to show you how much
    money you earn, spend, save, and invest - as well as keeping track of your debts</p>
  </div>
</div> -->
<!-- <div class="row text-center">
  <div class="col-lg-6 offset-lg-3">
    <div class="card shadow p-5">
      <h3>Payments</h3>
      <div class="card-img text-center">
        <img src="{% static 'img/aurum.jpeg' %}" class="rounded" width=150>
      </div>
      <hr>
      <p class="card-body">
        <strong>Aurum</strong> is our payments system which allows you to send money to any other user on our platform, as well as to
        move money across your own accounts. If it is possible, your accounts are immediately authorized
        upon adding an institution. The standard fee of any transaction made through the Aurum system is 1%.
      </p>
    </div>
  </div>
</div> -->


{% endblock %}
