{% extends 'base.html' %}

  {% load static %}
  {% load mathfilters %}

{% block content %}


{% if user.is_authenticated %}

<title>Home</title>

<div class="row">

  <div class="col-sm-10 offset-sm-1 text-center">

    {% if user.income %}

      <h1>Your custom financial plan.</h1>

        <div>For testing purpose below:</div>
        {% include 'automonus/add_bank_account.html' %}

    {% else %}

      <h1>Add your bank account to receive a custom-tailored financial plan.</h1>

      {% include 'automonus/add_bank_account.html' %}


    {% endif %}

  </div>

</div>

{% else %}

 <!-- MARKETING, LOG IN OR SIGN UP -->

 <div class="row">

    <div class="col-sm-4 offset-md-4 text-center">

        <small class="text-muted">You are not logged in to Automonus.</small>

        <img src="{% static 'automonus-beta-dark.JPG' %}" width=300>

        <br>
        <br>


        <a class="btn btn-lg btn-block btn-outline-success" href="{% url 'signup' %}">Create an account</a>

        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'login' %}">Log in</a>

    </div>

 </div>

{% endif %}

{% endblock %}
