{% load static %}
{% load mathfilters %}

<!-- Income Information -->
<div class="row">
{% if user.tax %}
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'tax_update' user.tax.id %}">Update</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tax_details' user.tax.id %}">Details</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <p>Your <strong>yearly</strong> salary before taxes is: {{ user.tax.calc_income }}</p>
      </div>
    </div>
  </div>
{% else %}
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <h4 class="text-muted">Income</h4>
      <div class="card-body">
        <p>You have not yet added sufficient income information.</p>
        <a href="{% url 'income' %}" class="btn btn-success">Please enter your income information.</a>
      </div>
    </div>
  </div>
{% endif %}

<!-- Tax Details -->

  {% if user.tax %}
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'tax_update' user.tax.id %}">Update</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tax_details' user.tax.id %}">Details</a>
          </li>
        </ul>
      </div>
      <h4 class="text-muted">Tax Information</h4>
      <div class="card-body">
        <p>The state and country withhold ${{ user.tax.annual_cost }} of your paycheck <strong>yearly</strong>.</p>
        <p>After paying taxes and FICA, your annual income is equal to ${{ user.tax.calc_income|sub:user.tax.annual_cost }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="{% url 'tax_update' user.tax.id %}" type="button" class="btn btn-sm btn-outline-secondary">Update Tax Information</a>
            <a href="{% url 'tax_details' user.tax.id %}" type="button" class="btn btn-sm btn-outline-secondary">See Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <h4 class="text-muted">Tax Information</h4>
      <div class="card-body">
        <p>You have not yet added your tax information. </p>
        <a href="{% url 'tax' %}" class="btn btn-block btn-success">Add your tax information</a>
      </div>
    </div>
  </div>
{% endif %}

</div>

<hr>
