{% extends 'charts/base.html' %} {% load static %}
{% block page_content %}
{% if user.profile.get_user_institutions %}
<div class="row text-left">
  <div class="col offset-2">
  </div>
</div>
 <nav class="col-md-2 d-none d-md-block bg-light sidebar card" id="sidebar">
   <div class="sidebar-sticky">
     <ul class="nav flex-column">
       <li class="nav-item">
         <a class="nav-link active" href="{% url 'master_dashboard' %}">
           <i class="fas fa-brain"></i>
           Master <span class="sr-only">(current)</span>
         </a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="{% url 'income_dashboard' %}">
           <i class="fas fa-wallet"></i>
           Income
         </a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="{% url 'expenditures_dashboard' %}">
           <i class="fas fa-dollar-sign"></i>
           Expenditures
         </a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="{% url 'liabilities_dashboard' %}">
           <i class="fas fa-file-invoice-dollar"></i>
           Liabilities
         </a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="{% url 'investments_dashboard' %}">
           <i class="fas fa-hand-holding-usd"></i>
           Investments
         </a>
       </li>
     </ul>
   </div>
 </nav>
<div class="col-lg-10 offset-lg-1 text-center dashboard-content">
  <button class="navbar-toggler d-block d-md-none col" type="button" data-toggle="collapse" data-target="#sidebar"
    aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="btn btn-primary text-dark"><i class="fas fa-ellipsis-v"></i> Toggle Sidebar</span>
  </button>
  <h2 class="m-5"><i class="fas fa-brain"></i> Master Dashboard</h2>

  <div class="card shadow p-4 mb-4">
    <div class="row">
      <div class="col text-center">
        <div class="h3">Balance Chart</div>
        <p>Shows the progress of the total balance of your accounts over time.</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <div id="charts_container" class="mt-3"></div>
      </div>
    </div>
  </div>
  <div class="card shadow p-4">
    <div class="row mt-3">
      <div class="col">
        <h3 class="text-center">Your Cash Accounts</h3>
          <div class="table-responsive table-striped p-4">
            <table id="table" class="table table-bordered">
              <thead>
                <tr>
                  <th>Owner</th>
                  <!-- <th>Type</th> -->
                  <th>Banking Institution</th>
                  <th>Current Balance</th>
                  <th>Available Balance</th>
                </tr>
              </thead>
              <tbody>
                {% for account in accounts %}
                <tr>
                  <td>
                    {{ account.user_institution.user }}
                  </td>
                  <!-- <td>
                                      {{ account.type }}
                                    </td> -->
                  <td>
                    {{ account.user_institution.institution }}
                  </td>
                  <td>
                    ${{ account.current_balance }}
                  </td>
                  <td>
                    ${{ account.available_balance }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
      </div>
  </div>

  <br />
  <hr />
  <br />
</div>

{% else %}
<div class="row">
  <div class="col-lg-12 text-center">
    <p>
      You have not yet added an institution to use with the automonus system.
    </p>
    <a class="btn btn-primary" href="{% url 'link_institution' %}">
      Connect With Your Financial Institution
    </a>
  </div>
</div>
{% endif %} {% endblock page_content%}
