{% load static %}
{% load mathfilters %}

<div class="row">
  <!-- Display -->
  {% if user.display %}
  <div class="col-md-4">
    <div class="card mb-4 bg-dark text-white box-shadow">
      <br>
      <h4>Currently showing your costs per: <strong>{{ user.display.display_string }}</strong>. </h4>
      <div class="card-body">
        <a href="{% url 'display_update' user.display.id %}" class="btn btn-sm btn-outline-light">Update display period.</a>
      </div>
    </div>
  </div>
  {% else %}
  <div class="col-md-4">
    <div class="card mb-4 bg-dark text-white box-shadow">
      <br>
      <p class="text-muted">Set the default period for displaying your expense overview:</p>
      <div class="card-body">
        <form class="form text-center" action="#" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <div class="form-field">
                {{ form.display }}
            </div>
          </div>
          <div class="form-group">
            <input class="btn btn-primary form-field" type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}


      <!-- Housing -->
        {% if user.housing %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'housing_update' user.housing.id %}">Update</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'housing_details' user.housing.id%}">Details</a>
                  </li>
                </ul>
              </div>
              <h4 class="text-muted">Housing</h4>
              <div class="card-body">
                {% if user.display %}
                  {% with operator=user.display.display_operator %}
                    <p class="card-text">
                        You spend <strong>${{ user.housing.yearly_total|div:operator }}</strong> each <strong>{{ user.display.display_string }}</strong> on housing.
                    </p>
                  {% endwith %}
                {% else %}
                  <p class="card-text">
                      You spend <strong>${{ user.housing.yearly_total }}</strong> each <strong>year</strong> on housing.
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
        {% else %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <h4 class="text-muted">Housing</h4>
                <div class="card-body">
                  <p>You have not yet added your housing expense information. </p>
                  <a href="{% url 'housing' %}" class="btn btn-success">Complete the housing module.</a>
                </div>
              </div>
            </div>
        {% endif %}


      <!-- Utilities -->
        {% if user.utilities %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'utilities_update' user.utilities.id %}">Update</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'utilities_details' user.utilities.id %}">Details</a>
                </li>
              </ul>
            </div>
            <h4 class="text-muted">Utilities</h4>
            <div class="card-body">
              {% if user.display %}
                {% with operator=user.display.display_operator %}
                  <p class="card-text">
                      You spend <strong>${{ user.utilities.yearly_total|div:operator }}</strong> each <strong>{{ user.display.display_string }}</strong> on your utilities.
                  </p>
                {% endwith %}
              {% else %}
                <p class="card-text">
                    You spend <strong>${{ user.utilities.yearly_total }}</strong> each <strong>year</strong> on your utilities.
                </p>
              {% endif %}
            </div>
          </div>
        </div>
        {% else %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <h4 class="text-muted">Utilities</h4>
            <div class="card-body">
              <p>You have not yet added your utility expenses.</p>
              <a href="{% url 'utilities' %}" class="btn btn-success">Complete the utility expenses module.</a>
            </div>
          </div>
        </div>
        {% endif %}

</div>

<div class="row">
      <!-- Food -->
        {% if user.food %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'food_update' user.food.id %}">Update</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'food_details' user.food.id %}">Details</a>
                </li>
              </ul>
            </div>
            <h4 class="text-muted">Food</h4>
            <div class="card-body">
              {% if user.display %}
                {% with operator=user.display.display_operator %}
                  <p class="card-text">
                      You spend <strong>${{ user.food.yearly_total|div:operator }}</strong> each <strong>{{ user.display.display_string }}</strong> on your groceries and restaurant food.
                  </p>
                {% endwith %}
              {% else %}
                <p class="card-text">
                    You spend <strong>${{ user.food.yearly_total }}</strong> each <strong>year</strong> on your groceries and restaurant food.
                </p>
              {% endif %}
            </div>
          </div>
        </div>
        {% else %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <h4 class="text-muted">Food</h4>
            <div class="card-body">
              <p>You have not yet entered your food expenses.</p>
              <a href="{% url 'food' %}" class="btn btn-success">Complete the food expenses module.</a>
            </div>
          </div>
        </div>
        {% endif %}

        <!-- Transportation -->
          {% if user.car %}
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                      <li class="nav-item">
                        <a class="nav-link active" href="{% url 'car_update' user.car.id %}">Update</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'car_details' user.car.id %}">Details</a>
                      </li>
                    </ul>
                  </div>
                  <h4 class="text-muted">Transportation</h4>
                  <div class="card-body">
                    {% if user.display %}
                      {% with operator=user.display.display_operator %}
                        <p class="card-text">
                            You spend <strong>${{ user.car.yearly_total|div:operator }}</strong> each <strong>{{ user.display.display_string }}</strong> on your transportation.
                        </p>
                      {% endwith %}
                    {% else %}
                      <p class="card-text">
                          You spend <strong>${{ user.car.yearly_total }}</strong> each <strong>year</strong> on your transportation.
                      </p>
                    {% endif %}
                  </div>
                </div>
              </div>
          {% else %}
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <h4 class="text-muted">Transportation</h4>
                  <div class="card-body">
                    <p class="card-text">You have not yet added your transportation expenses.</p>
                    <a href="{% url 'car' %}" class="btn btn-success">Complete the transportation module.</a>
                  </div>
                </div>
              </div>
          {% endif %}



      <!-- Miscellaneous -->
        {% if user.miscellaneous %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'miscellaneous_update' user.miscellaneous.id %}">Update</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'miscellaneous_details' user.miscellaneous.id %}">Details</a>
                </li>
              </ul>
            </div>
            <h4 class="text-muted">Miscellaneous</h4>
            <div class="card-body">
              {% if user.display %}
                {% with operator=user.display.display_operator %}
                  <p class="card-text">
                      You spend <strong>${{ user.miscellaneous.yearly_total|div:operator }}</strong> each <strong>{{ user.display.display_string }}</strong> on your health insurance, life insurance, and clothing.
                  </p>
                {% endwith %}
              {% else %}
                <p class="card-text">
                    You spend <strong>${{ user.miscellaneous.yearly_total }}</strong> each <strong>year</strong> on your health insurance, life insurance, and clothing.
                </p>
              {% endif %}
            </div>
          </div>
        </div>
        {% else %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <h4 class="text-muted">Miscellaneous</h4>
            <div class="card-body">
              <p>You have not yet entered your miscellaneous expenses.</p>
              <a href="{% url 'miscellaneous' %}" class="btn btn-success">Complete this module on miscellaneous expenses.</a>
            </div>
          </div>
        </div>
        {% endif %}


</div>
