{% extends 'base.html' %}

{% load mathfilters %}

{% block content %}

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <h1>Your financial plan:</h1>
    <br>
    <p>Your annual income after taxes is equal to: ${{ user.income.projected_yearly_minus_tax }}.</p>
    <p>You should aim to spend no more than ${{ user.income.projected_yearly_minus_tax|mul:0.70 }} each year.</p>
    <p>If you have debts. . .</p>
    <p>We reccommend that you put ${{ user.income.projected_yearly_minus_tax|mul:0.20 }} each year toward your debts,
        in which case you will add ${{ user.income.projected_yearly_minus_tax|mul:0.10 }} each year to your savings.</p>
    <p>Otherwise. . .</p>
    <p>If you have no debts, you will save ${{ user.income.projected_yearly_minus_tax|mul:0.30 }}.</p>
  </div>
</div>

{% endblock %}
