{% extends 'base.html' %}

{% block content %}

{% load mathfilters %}

  <table class="table">

    <tr>
      <td></td>
      <th>Daily</th>
      <th>Weekly</th>
      <th>Biweekly</th>
      <th>Monthly</th>
      <th>Yearly</th>
    </tr>

    <tr>
      {% with gas=user.car.gas_yt %}
      <td>Gas</td>
      <td> {{ gas|div:365 }} </td>
      <td> {{ gas|div:52 }} </td>
      <td> {{ gas|div:26 }} </td>
      <td> {{ gas|div:12 }} </td>
      <td> {{ gas }} </td>
      {% endwith %}
    </tr>

    <tr>
      {% with maintenance=user.car.maintenance_yt %}
      <td>Maintenance</td>
      <td> {{ maintenance|div:365 }} </td>
      <td> {{ maintenance|div:52 }} </td>
      <td> {{ maintenance|div:26 }} </td>
      <td> {{ maintenance|div:12 }} </td>
      <td> {{ maintenance }} </td>
      {% endwith %}
    </tr>

    <tr>
      {% with insurance=user.car.carinsurance_yt %}
      <td>Insurance</td>
      <td> {{ insurance|div:365 }} </td>
      <td> {{ insurance|div:52 }} </td>
      <td> {{ insurance|div:26 }} </td>
      <td> {{ insurance|div:12 }} </td>
      <td> {{ insurance }} </td>
      {% endwith %}
    </tr>

    <tr>
      {% with carproptax=user.car.carproptax_yt %}
      <td>Car Property Tax</td>
      <td> {{ carproptax|div:365 }} </td>
      <td> {{ carproptax|div:52 }} </td>
      <td> {{ carproptax|div:26 }} </td>
      <td> {{ carproptax|div:12 }} </td>
      <td> {{ carproptax }} </td>
      {% endwith %}
    </tr>

  </table>

{% endblock %}
