{% extends 'base.html' %}

{% block content %}

{% load mathfilters %}

  <table class="table">

    <tr>
      <th></th>
      <th>Daily</th>
      <th>Weekly</th>
      <th>Biweekly</th>
      <th>Monthly</th>
      <th>Yearly</th>
    </tr>

    <tr>
      {% with healthinsurance=user.miscellaneous.healthinsurance_yt %}
      <td>Health Insurance</td>
      <td> {{ healthinsurance|div:365 }} </td>
      <td> {{ healthinsurance|div:52 }} </td>
      <td> {{ healthinsurance|div:26 }} </td>
      <td> {{ healthinsurance|div:12 }} </td>
      <td> {{ healthinsurance }} </td>
      {% endwith %}
    </tr>

    <tr>
      {% with lifeinsurance=user.miscellaneous.lifeinsurance_yt %}
      <td>Restaurant Food Costs</td>
      <td> {{ lifeinsurance|div:365 }} </td>
      <td> {{ lifeinsurance|div:52 }} </td>
      <td> {{ lifeinsurance|div:26 }} </td>
      <td> {{ lifeinsurance|div:12 }} </td>
      <td> {{ lifeinsurance }} </td>
      {% endwith %}
    </tr>

    <tr>
      {% with clothing=user.miscellaneous.clothing_yt %}
      <td>Restaurant Food Costs</td>
      <td> {{ clothing|div:365 }} </td>
      <td> {{ clothing|div:52 }} </td>
      <td> {{ clothing|div:26 }} </td>
      <td> {{ clothing|div:12 }} </td>
      <td> {{ clothing }} </td>
      {% endwith %}
    </tr>

  </table>

{% endblock %}
