{% extends 'charts/base.html' %}

{% block content %}

<nav class="col-md-2 d-none d-md-block bg-light sidebar card" id="sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounting_master_dashboard' %}">
          <i class="fas fa-brain"></i>
          Master
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'facebook_ads_dashboard' %}">
          <i class="fab fa-facebook-square"></i>
          Facebook Ads
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'google_ads_dashboard' %}">
          <i class="fab fa-google"></i>
          Google Ads <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'yelp_ads_dashboard' %}">
          <i class="fab fa-yelp"></i>
          Yelp Ads
        </a>
      </li>
    </ul>
  </div>
</nav>


<div class="row">
 <div class="col-lg-10 offset-lg-1 text-center">
   <button class="navbar-toggler d-block d-md-none col" type="button" data-toggle="collapse" data-target="#sidebar"
     aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
     <span class="btn btn-primary"><i class="fas fa-ellipsis-v"></i> Toggle Sidebar</span>
   </button>
 </div>
</div>


<div class="row">
  <div class="col">
    <h1 class="text-center"><i class="fab fa-google"></i> Google Ads Dashboard</h1>
  </div>
</div>

{% endblock %}
